#.gitignore

core/bin-debug
core/bin-release

core/.actionScriptProperties
core/.project

camera/bin-debug
camera/bin-release

camera/.actionScriptProperties
camera/.project

image/bin-debug
image/bin-release

image/.actionScriptProperties
image/.project
