#.gitignore

core/bin-debug
core/bin-release

core/.actionScriptProperties
core/.project

camera/bin-debug
camera/bin-release

camera/.actionScriptProperties
camera/.project

preview/bin-debug
preview/bin-release

preview/.actionScriptProperties
preview/.project
